.flex-2 {
  flex: 2 2 0%;
}

.grid-template-columns-20-auto {
  grid-template-columns: 20px auto;
}

.grid-template-columns-auto-20 {
  grid-template-columns: auto 20px;
}

.shadow-all {
  -webkit-box-shadow: 0 0 5px 2px grey;
  -moz-box-shadow: 0 0 5px 2px grey;
  box-shadow: 0 0 5px 2px grey;
}